/* style */



body {
  background: url(./background.png);
  background-size: 1300px 500px;
  background-repeat: no-repeat;
}

h1 {
  color: Orange;
  text-align: center;
  font-family: Courier;
  font-size: 50px;
  text-shadow: gold 2px 5px;
}

h2 {
color: magenta;
font family: courier;
text-align: center;
font-weight: bold;
text-shadow: lime 2px 3px;
}

h3 {
  color: magenta;
}

h4 {
  font-family: helvetica;
  color: yellow;
  clear:left;
}



p {
  color: magenta;
  font-family: Courier;
  align: left;
  font-weight: bold;;
}

.card {
  width: 60px;
  height: 80px;
  border: 10px solid #000;
  float: left;
  background: green;
}

.face {
  opacity: 0;
  height: 100%;
  background: linear-gradient(red, orange);
  height:100%;
}

#container {
  width: 400px;
  height: 400px;
  border: 10px solid #444;
  margin: auto;
/* What is wrong below?*/

  /*background:url('./memory/african_background.png');
}
